
<h1 style="color: palevioletred; text-align: center">Sing In</h1>

<div class="container-md">
    <form action="submit" method="post">Name</form>
    <form action="submit" method="post">Email</form>
    <form action="submit" method="post">Address</form>
</div>

